@model List<MertYazilim.Entities.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-info" asp-controller="Category" asp-action="Add">Add a Category</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Name</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Description</td>
            <td>@item.Name</td>
            <td>
                <a class="btn btn-warning" asp-action="Update" asp-controller="Category" asp-route-id="@item.Id">Düzenle</a>
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
        }
    </tbody>
</table>

